.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

*.html
*.native
*_files
.quarto/

docs/_site
# closeread extension in docs site (we get it from project root on render)
/docs/_extensions/closeread

.luarc.json

node_modules/
package.json
package-lock.json

/.luarc.json

# temporarily ignoring the _extensions folder within demos/ and tests/ until we organise them into a website
demos/*/_extensions
tests/*/_extensions

# .css.map (can be generated manually from .scss file)
_extensions/closeread/closeread.css.map

# images generated for video demo
docs/gallery/demos/videos/image*.png
