/*-- scss:defaults --*/

/*-- scss:rules --*/

div.sidebar_col p {
  margin-top: 42vh; /* between paragraphs */
  margin-bottom: 42vh; /* between paragraphs */
  }
  
h3 {
  margin-top: 15vh; /* for new sections */
}