/* global layout styles */
.cr-layout {
  display: grid;
  grid-template-rows: 1fr;
}
.cr-layout .sidebar-col {
  grid-row: 1;
}
.cr-layout .sidebar-col > * {
  padding-block: 45svh;
  padding-inline: 1em;
}
.cr-layout .sidebar-col > * p {
  margin-bottom: 0;
}
.cr-layout .sticky-col {
  grid-row: 1;
}
.cr-layout .sticky-col .sticky-col-stack {
  display: grid;
  height: 100dvh;
  position: sticky;
  overflow: hidden;
  top: 0;
}
.cr-layout .sticky-col .sticky-col-stack .sticky {
  grid-area: 1/1;
  margin: auto;
  opacity: 0;
  transition: opacity linear 0.5s, color 1s linear, transform 1s ease-in-out, transform-origin 1s ease-in-out;
}
.cr-layout .sticky-col .sticky-col-stack .cr-active {
  opacity: 1;
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
@media (max-width: 575.98px) {
  .cr-layout {
    grid-template-columns: 1fr;
  }
  .cr-layout .sidebar-col {
    grid-column: 1;
    z-index: 1;
    margin-inline: 0.5em;
  }
  .cr-layout .sticky-col {
    grid-column: 1;
  }
}
/* layouts (for wider than mobile sizing)
   note that .cr-[layout]-[side] class on .cr-layout should override the
    /cr-default-[layout]-[side] class on <body>
*/
.cr-default-overlay-left .cr-layout,
body .cr-layout.cr-overlay-left,
.cr-default-overlay-right .cr-layout,
body .cr-layout.cr-overlay-right,
.cr-default-overlay-center .cr-layout,
body .cr-layout.cr-overlay-center {
  grid-template-columns: 1fr;
}
.cr-default-overlay-left .cr-layout .sidebar-col,
body .cr-layout.cr-overlay-left .sidebar-col,
.cr-default-overlay-right .cr-layout .sidebar-col,
body .cr-layout.cr-overlay-right .sidebar-col,
.cr-default-overlay-center .cr-layout .sidebar-col,
body .cr-layout.cr-overlay-center .sidebar-col {
  grid-column: 1;
  z-index: 1;
}
.cr-default-overlay-left .cr-layout .sticky-col,
body .cr-layout.cr-overlay-left .sticky-col,
.cr-default-overlay-right .cr-layout .sticky-col,
body .cr-layout.cr-overlay-right .sticky-col,
.cr-default-overlay-center .cr-layout .sticky-col,
body .cr-layout.cr-overlay-center .sticky-col {
  grid-column: 1;
}

.cr-default-overlay-left .cr-layout .sidebar-col,
body .cr-layout.cr-overlay-left .sidebar-col {
  margin-inline-start: 5%;
  margin-inline-end: 65%;
}

.cr-default-overlay-right .cr-layout .sidebar-col,
body .cr-layout.cr-overlay-right .sidebar-col {
  margin-inline-start: 65%;
  margin-inline-end: 5%;
}

.cr-default-overlay-center .cr-layout .sidebar-col,
body .cr-layout.cr-overlay-center .sidebar-col {
  margin-inline: auto;
}

.cr-default-sidebar-left .cr-layout,
body .cr-layout.cr-sidebar-left {
  grid-template-columns: 1fr 2fr;
}
.cr-default-sidebar-left .cr-layout .sidebar-col,
body .cr-layout.cr-sidebar-left .sidebar-col {
  grid-column: 1;
}
.cr-default-sidebar-left .cr-layout .sticky-col,
body .cr-layout.cr-sidebar-left .sticky-col {
  grid-column: 2;
}

.cr-default-sidebar-right .cr-layout,
body .cr-layout.cr-sidebar-right {
  grid-template-columns: 2fr 1fr;
}
.cr-default-sidebar-right .cr-layout .sidebar-col,
body .cr-layout.cr-sidebar-right .sidebar-col {
  grid-column: 2;
}
.cr-default-sidebar-right .cr-layout .sticky-col,
body .cr-layout.cr-sidebar-right .sticky-col {
  grid-column: 1;
}

/* poem styles */
.cr-poem {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  /* need large font to stop safari text blurriness, but max-height to stop
   other stickies from being pushed down by pre-scaled poem size */
  max-height: 100dvh;
  font-size: 300%;
  white-space: pre;
  line-height: 1em;
  transform-origin: center center;
}
.cr-poem.cr-hl-within {
  color: rgba(0, 0, 0, 0.5);
}
.cr-poem .cr-hl {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* debug styles */
body.cr-debug .cr-poem {
  background-color: rgba(255, 255, 0, 0.6);
  border: 1px solid orange;
}
body.cr-debug [id^=cr-] {
  opacity: 0.8;
}
body.cr-debug .sidebar-col > * {
  background: rgba(255, 255, 0, 0.5);
  border: 1px solid rgba(255, 166, 0, 0.5);
}
body.cr-debug .sidebar-col > * > * {
  background: rgba(0, 208, 255, 0.5);
  border: 1px solid rgba(0, 115, 255, 0.5);
  border-radius: 5px;
}

/* remove header option */
body.cr-removeheaderspace #quarto-content main#quarto-document-content {
  padding-top: 0;
  margin-top: 0;
}
body.cr-removeheaderspace #quarto-content main#quarto-document-content .quarto-title-block {
  display: none;
}

/*# sourceMappingURL=grid.css.map */
