/* global layout styles */

.cr-layout {
  display: grid;
  grid-template-rows: 1fr;

  .sidebar-col {
    grid-row: 1;

    > * {
      // vertical-align: middle;  // this probably needs to be layout-dependent
      padding-block: 45svh;
      padding-inline: 1em;

      p {
        margin-bottom: 0;
      }
    }
  }

  .sticky-col {
    grid-row: 1;

    // using a grid to stack sticky elements on top of each other to then
    // transition through (based on reveal's .r-stack)
    .sticky-col-stack {
      display: grid;
      height: 100dvh;
      position: sticky;
      overflow: hidden;
      top: 0;

      .sticky {
        grid-area: 1 / 1;
        margin: auto;

        // to be overruled when it is the active element
        opacity: 0;

        transition:
          opacity linear 0.5s,
          color 1s linear,
          transform 1s ease-in-out,
          transform-origin 1s ease-in-out;
      }

      // show active elements (this class is applied by scrollama
      .cr-active {
        opacity: 1;
      }
    }
  }
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
@media (max-width: 575.98px) {
  .cr-layout {
    grid-template-columns: 1fr;
    
    .sidebar-col {
      grid-column: 1;
      z-index: 1;
      margin-inline: 0.5em;
    }

    .sticky-col {
      grid-column: 1;
    }
  }
}

/* layouts (for wider than mobile sizing)
   note that .cr-[layout]-[side] class on .cr-layout should override the
    /cr-default-[layout]-[side] class on <body>
*/

// overlay layouts use one column...
.cr-default-overlay-left .cr-layout,
body .cr-layout.cr-overlay-left,
.cr-default-overlay-right .cr-layout,
body .cr-layout.cr-overlay-right,
.cr-default-overlay-center .cr-layout,
body .cr-layout.cr-overlay-center
{
  grid-template-columns: 1fr;

  .sidebar-col {
    grid-column: 1;
    z-index: 1;
  }

  .sticky-col {
    grid-column: 1;
  }
}

// ... with inline margins set for narrative content depending on side
.cr-default-overlay-left .cr-layout,
body .cr-layout.cr-overlay-left {
  .sidebar-col {
    margin-inline-start: 5%;
    margin-inline-end: 65%;
  }
}
.cr-default-overlay-right .cr-layout,
body .cr-layout.cr-overlay-right {
  .sidebar-col {
    margin-inline-start: 65%;
    margin-inline-end: 5%;
  }
}
.cr-default-overlay-center .cr-layout,
body .cr-layout.cr-overlay-center {
  .sidebar-col {
    margin-inline: auto;
  }
}

// sidebar layouts use two columns
.cr-default-sidebar-left .cr-layout,
body .cr-layout.cr-sidebar-left
{
  grid-template-columns: 1fr 2fr;

  .sidebar-col {
    grid-column: 1;
    margin-inline: 0;
  }

  .sticky-col {
    grid-column: 2;
  }
}
.cr-default-sidebar-right .cr-layout,
body .cr-layout.cr-sidebar-right
{
  grid-template-columns: 2fr 1fr;

  .sidebar-col {
    grid-column: 2;
    margin-inline: 0;
  }

  .sticky-col {
    grid-column: 1;
  }
}

/* poem styles */

.cr-poem {

  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  
  /* need large font to stop safari text blurriness, but max-height to stop
   other stickies from being pushed down by pre-scaled poem size */
  max-height: 100dvh; 
  font-size: 300%;

  white-space: pre;
  line-height: 1em;
  
  // transform transition is applied along with all stickies
  transform-origin: center center;

  // fade the rest of the poem out when there's a highlight active
  &.cr-hl-within {
    color: rgba(0, 0, 0, 0.5);
  }

  .cr-hl {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
  }
}


/* debug styles */

body.cr-debug {
  
  // give stickies borders
  .cr-poem {
    background-color: #ffff0099;
    border: 1px solid orange;
  }
  
  // make stickies slightly see-through
  [id^="cr-"] {
    opacity: 0.8;
  }

  // sidebar content and scroll zone debug styles
  .sidebar-col > * {
    background: rgba(255, 255, 0, 0.5);
    border: 1px solid rgba(255, 166, 0, 0.5);

    > * {
      background: rgba(0, 208, 255, 0.5);
      border: 1px solid rgba(0, 115, 255, 0.5);
      border-radius: 5px;
    }    
  }

}

/* remove header option */

body.cr-removeheaderspace {
  #quarto-content {
    main#quarto-document-content {
      padding-top: 0;
      margin-top: 0;
  
      .quarto-title-block {
        display: none;
      }
    }
  }

}