/*-- scss:defaults --*/

/* TODO: Customize html appearance by setting SCSS variables */
/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */

.columns.cr-sidebar {

  display: flex;
  flex-direction: row;
  column-gap: 10%;
  
  // put the sticky content first if we added cr-reverse
  &.cr-reverse {
    flex-direction: row-reverse;
  }

  // vertical space around sidebar elements
  // (markdown headings create sections of content that we need to account for)
  .column.sidebar_col {
    & > *,
    section > * {
      // margin-block: 10svh;
      // border-block-width: 200px;
      // border-block-color: yellow; 
      padding-top: 40svh;
      vertical-align: middle;
    }
  }

  // sticky positioning
  .column.sticky_col {
    padding: 20px;
    align-self: flex-start;
    position: sticky;
    top: 30svh;

    // using a grid to stack sticky elements on top of each other to then
    // transition through (based on reveal's .r-stack)
    .sticky_col_stack {
      display: grid;

      [data-cr-id] {
        grid-area: 1 / 1;
        margin: auto;
        // opacity: 0.5;     // lowering opacity for debug purposes

        // to be overruled when it is the active element
        opacity: 0;
        transition: opacity linear 0.5s;

        
      }

      // show active elements (this class is applied by scrollama
      .cr-active {
        opacity: 1;
      }
      
    }
  }
}
