/*-- scss:defaults --*/

/* TODO: Customize html appearance by setting SCSS variables */
/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */

.columns.cr-sidebar {

  display: flex;
  flex-direction: row;
  column-gap: 10%;
  
  // put the sticky content first if we added cr-reverse
  &.cr-reverse {
    flex-direction: row-reverse;
  }

  // vertical space around sidebar elements
  // (markdown headings create sections of content that we need to account for)
  .column.sidebar_col {
    & > *,
    section > * {
      margin-block: 40svh;
    }
  }

  // sticky positioning
  .column.body_col {
    padding: 20px;
    align-self: flex-start;
    position: sticky;
    top: 30svh;

    // using a grid to stack sticky elements on top of each other to then
    // transition through (based on reveal's .r-stack)
    .body_col_stack {
      display: grid;

      // stackable elements
      // (note some inline elements come wrapped in empty <p>s)      
      [data-cr],
      .cr-sticky {
        grid-area: 1 / 1;
        margin: auto;
        opacity: 0.5;     // lowering opacity for debug purposes
      }

      & > p:not(.cr-sticky):has(.cr-sticky) {
        grid-area: 1 / 1;
        margin: auto;
        opacity: 0.5;     // lowering opacity for debug purposes
      }
    }
  }
}
