# quarto backend folder
/.quarto/

# system files
.DS_Store

# lua
/.luarc.json

# rendered documentation site
_site/
.quarto/

# closeread extension in docs site (we get it from project root on render)
_extensions/closeread
_freeze

.venv/
