```{=html}
<table class="caption-top table">
<colgroup>
<col style="width: 20%">
<col style="width: 20%">
<col style="width: 60%">
</colgroup>
<tbody>
<% for (const item of items) { %>
  <tr>
  <td style="text-align: left;"><code><%= item.option %></code></td>
  <td style="text-align: left;"><p><em><%= item['option-type'] %></em></p></td>
  <td style="text-align: left;"><p><%= item.description %></p></td>
  </tr>
<% } %>
</tbody>
</table>
```