on:
  push:
    branches:
      - main

name: "Publish to closeread.netlify.app"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # for accessing this repo's assets in the container
      - name: Check out the repo
        uses: actions/checkout@v3
      # run the container, attaching this repo as a working directory
      - name: Run the build process with Docker
        uses: addnab/docker-run-action@v3
        env:
           NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        with:
          image: stat20/stat20-docker:latest
          options: -v ${{ github.workspace }}:/home/rstudio/closeread -e NETLIFY_AUTH_TOKEN=${{ secrets.NETLIFY_AUTH_TOKEN }}
          shell: bash
          run: |
            # exit if any command returns non-zero exit
            set -e

            cd /home/rstudio/closeread/
            
            # render and publish site
            quarto publish netlify docs --id 2a052dac-9a3d-43c1-9f3d-e37e3cb55af2
